<ion-tab-bar slot="bottom" color="dark">

  <ion-tab-button (click)="redirecion('home')" [ngClass]="{ 'activo': isActive('home') }">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="abrirPopover('Autos')" [ngClass]="{ 'activo': isActive('menu-vehiculos/autos') }">
    <ion-icon name="car-outline"></ion-icon>
    <ion-label>Autos</ion-label>
  </ion-tab-button>

  <ion-tab-button class="boton-plus" (click)="redirecion('new-car')">
    <ion-icon name="add"></ion-icon>
  </ion-tab-button>

  <!-- <ion-tab-button (click)="redirecion('m-nuevos')" [ngClass]="{ 'activo': isActive('m-nuevos') }">
    <svg *ngIf="esDispositivoMovil" style="margin-right: 2px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-motorbike">
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M15 5a1 1 0 0 1 .894 .553l3.225 6.449l.08 .003a4 4 0 1 1 -4.199 3.995l.005 -.2a4 4 0 0 1 2.111 -3.33l-.557 -1.115l-3.352 3.352a1 1 0 0 1 -.707 .293h-3.626q .124 .481 .126 1a4 4 0 1 1 -8 0l.005 -.2a4 4 0 0 1 6.33 -3.049l1.749 -1.751h-3.084a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 1 -1h9.381l-1 -2h-1.381a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 1 -1z" />
    </svg>
    <ion-label>Motos</ion-label>
  </ion-tab-button> -->

  <ion-tab-button (click)="redirecion('arrendamiento')" [ngClass]="{ 'activo': isActive('arrendamiento') }">
    <ion-icon name="car-sport"></ion-icon>
    <ion-label>Arrendar</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="redirecion('camiones/todos')" [ngClass]="{ 'activo': isActive('camiones/todos') }">
    <ion-icon name="bus-outline"></ion-icon>
    <ion-label>Camiones</ion-label>
  </ion-tab-button>

  <!-- <ion-tab-button (click)="redirecion('seguros')" [ngClass]="{ 'activo': isActive('seguros') }">
    <ion-icon name="shield-checkmark-outline"></ion-icon>
    <ion-label>Seguros</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="redirecion('renta-coches')" [ngClass]="{ 'activo': isActive('renta-coches') }">
    <ion-icon name="document-lock-outline"></ion-icon>
    <ion-label>Renta</ion-label>
  </ion-tab-button> -->

</ion-tab-bar>