
:host {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

ion-tab-bar {
  --background: #1e1e1e;
  color: white;
}

ion-badge {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 9px;
}

ion-tab-button.activo {
  color: #e53935 !important;
  font-weight: bold;
  background-color: #1a1a1a;

  ion-icon {
    color: #e53935 !important;
    transform: scale(1.15);
    transition: transform 0.2s;
  }

  ion-label {
    color: #e53935 !important;
  }
}



ion-tab-bar {
  overflow: visible;       
  height: 64px;
}

.boton-plus {
  position: relative;

  width: 46px;
  height: 46px;
  aspect-ratio: 1 / 1;       
  border-radius: 50%;

  flex: 0 0 auto;
  padding: 0;
  --padding-start: 0;
  --padding-end: 0;

  background: #d62828;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  ion-icon {
    font-size: 28px;
    color: #fff;
  }
}
