<ion-header>
  <ion-toolbar class="header-toolbar">

    <div class="header-flex">
      <div class="logo-titulo">
        <img src="assets/icon/goautos2.webp" alt="Go Autos" />
      </div>
      <ion-button fill="clear" color="danger" (click)="cerrarModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-arrendamiento">
  <h4>
    <!-- <ion-icon name="car-sport-outline"></ion-icon> -->
    Arrendamiento Puro para Autos Nuevos
  </h4>
  <p>
    Disponible para Persona Física con Actividad Empresarial y Persona Moral.
    Elige cualquier auto nuevo y págalo como renta mensual, sin adquirir deuda.
    Ideal para empresas o profesionistas que buscan alta deducibilidad fiscal con mínima inversión inicial.
  </p>

  <h5>
    <ion-icon name="thumbs-up-outline"></ion-icon>
    Beneficios
  </h5>
  <ul>
    <li><ion-icon name="checkmark-circle-outline"></ion-icon> 100% deducible en impuestos</li>
    <li><ion-icon name="cash-outline"></ion-icon> Inversión inicial baja</li>
    <li><ion-icon name="wallet-outline"></ion-icon> Financiación completa del vehículo</li>
    <li><ion-icon name="close-circle-outline"></ion-icon> No se registra como deuda</li>
    <li><ion-icon name="locate-outline"></ion-icon> Incluye GPS de monitoreo</li>
    <li><ion-icon name="calendar-outline"></ion-icon> Plazos flexibles de 12 a 60 meses</li>
  </ul>

  <h5>
    <ion-icon name="document-text-outline"></ion-icon>
    Requisitos
  </h5>
  <ul>
    <li><ion-icon name="document-outline"></ion-icon> Llenar solicitud (al contactar al asesor)</li>
    <li><ion-icon name="business-outline"></ion-icon> RFC y constancia de situación fiscal</li>
    <li><ion-icon name="card-outline"></ion-icon> Identificación oficial</li>
    <li><ion-icon name="home-outline"></ion-icon> Comprobante de domicilio</li>
    <li><ion-icon name="bar-chart-outline"></ion-icon> Opinión positiva del SAT (menos de 2 meses)</li>
  </ul>

  <!-- <div class="contenedor-boton-final">
    <button  class="btn-interesado" (click)="solicitarInformacion()">
      <ion-icon name="send-outline" slot="start"></ion-icon>
      Solicitar información
    </button>
  </div> -->

</ion-content>
