<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar" color="dark">
    <ion-buttons slot="start">
      <div class="logo_content">
        <img src="/assets/icon/logo4.png" loading="lazy" alt="WOAW" class="logo" (click)="redirecion_logo()" />

        <!-- <span class="titulo-movil" *ngIf="!mostrarBuscador && esDispositivoMovil">
          {{ getTituloSeccion() }}
        </span> -->

        <!-- Botón lupa para mostrar buscador -->
        <ion-button fill="clear" class="btn-buscar" *ngIf="!mostrarBuscador  && !estaEnHome && esDispositivoMovil"
          (click)="mostrarBuscador = true">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>

        <!-- Botón cerrar buscador -->
        <ion-button fill="clear" class="btn-buscar" *ngIf="mostrarBuscador && !estaEnHome && esDispositivoMovil"
          (click)="cerrarBuscador()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>

      <!-- Searchbar solo visible si mostrarBuscador está activo -->
      <div class="buscador-container" *ngIf="!estaEnHome && !esDispositivoMovil">
        <ion-searchbar [(ngModel)]="terminoBusqueda" (ionInput)="onInputChange($event)"
          (keyup.enter)="irABusqueda(terminoBusqueda)" placeholder="Busca por marca, modelo o año" animated="true">
        </ion-searchbar>
      </div>

      <div class="buscador-container" *ngIf="mostrarBuscador && !estaEnHome && esDispositivoMovil">
        <ion-searchbar [(ngModel)]="terminoBusqueda" (ionInput)="onInputChange($event)"
          (keyup.enter)="irABusqueda(terminoBusqueda)" placeholder="Busca por marca, modelo o año" animated="true">
        </ion-searchbar>
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <ng-container *ngIf="!esDispositivoMovil">
        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('home') }" (click)="redirecion('home')">
          inicio
        </ion-button>

        <ion-button fill="clear" (click)="abrirPopover('Autos')"
          [ngClass]="{ 'activo': isActive('menu-vehiculos/autos') }">
          Vehiculos
          <!-- <ion-icon name="chevron-down-outline" slot="end"></ion-icon> -->
        </ion-button>

        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('m-nuevos') }" (click)="redirecion('m-nuevos')">
          Motos
        </ion-button>

        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('camiones/todos') }"
          (click)="redirecion('camiones/todos')">
          Camiones
        </ion-button>

        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('arrendamiento') }"
          (click)="redirecion('arrendamiento')">
          Arrendamiento
        </ion-button>

        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('renta-coches') }"
          (click)="redirecion('renta-coches')">
          Renta de coches
        </ion-button>

        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('seguros') }" (click)="redirecion('seguros')">
          Seguros de autos
        </ion-button>

        <ion-button fill="clear" [ngClass]="{ 'activo': isActive('inicio') }" (click)="redirecion('inicio')"
          *ngIf="!isLoggedIn">
          Iniciar sesión
        </ion-button>

        <button class="btn-vender" [ngClass]="{ 'activo-btn-new': isActive('new-car') }" (click)="redirecion('new-car')"
          *ngIf="!esDispositivoMovil">
          <ion-icon name="add-outline"></ion-icon>
          Publicar
        </button>

        <div class="usuario-info" *ngIf="isLoggedIn" (click)="abrirModalPerfil()">
          <img *ngIf="!esDispositivoMovil" src="assets/icon/mexico.png" alt="MX" class="icono-bandera" />
          <div class="contenedor-nombre">
            <ion-icon name="person-outline" class="icono-user"></ion-icon>
            <span class="nombre-usuario">{{ usuario }}</span>
          </div>
        </div>
      </ng-container>

      <ion-button fill="clear" class="stack" [ngClass]="{ 'activo': isActive('favoritos') }"
        (click)="redirecion('favoritos')" *ngIf="isLoggedIn && !mostrarBuscador">
        <span class="vcol">
          <ion-icon name="heart-outline"></ion-icon>
          <span *ngIf="esDispositivoMovil" class="label">Favoritos</span>
        </span>
      </ion-button>

      <!-- <ion-button fill="clear" class="stack" [ngClass]="{ 'activo': isActive('arrendamiento') }"
        (click)="redirecion('arrendamiento')" *ngIf="!mostrarBuscador && esDispositivoMovil">
        <span class="vcol">
          <ion-icon name="car-sport"></ion-icon>
          <span class="label">Arrendar</span>
        </span>
      </ion-button> -->

      <ion-button fill="clear" class="stack" [ngClass]="{ 'activo': isActive('m-nuevos') }"
        (click)="redirecion('m-nuevos')" *ngIf="!mostrarBuscador && esDispositivoMovil">
        <span class="vcol">
          <svg *ngIf="esDispositivoMovil" style="margin-right: 2px;" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-motorbike">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M15 5a1 1 0 0 1 .894 .553l3.225 6.449l.08 .003a4 4 0 1 1 -4.199 3.995l.005 -.2a4 4 0 0 1 2.111 -3.33l-.557 -1.115l-3.352 3.352a1 1 0 0 1 -.707 .293h-3.626q .124 .481 .126 1a4 4 0 1 1 -8 0l.005 -.2a4 4 0 0 1 6.33 -3.049l1.749 -1.751h-3.084a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 1 -1h9.381l-1 -2h-1.381a1 1 0 0 1 -.993 -.883l-.007 -.117a1 1 0 0 1 1 -1z" />
          </svg>
          <span class="label">Motos</span>
        </span>
      </ion-button>

      <ion-button fill="clear" class="stack" [ngClass]="{ 'activo': isActive('seguros') }"
        (click)="redirecion('seguros')" *ngIf="!mostrarBuscador && esDispositivoMovil">
        <span class="vcol">
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <span class="label">Seguros</span>
        </span>
      </ion-button>

      <ion-button fill="clear" class="stack" [ngClass]="{ 'activo': isActive('renta-coches') }"
        (click)="redirecion('renta-coches')" *ngIf="!mostrarBuscador && esDispositivoMovil">
        <span class="vcol">
          <ion-icon name="key-outline"></ion-icon>
          <span class="label">Renta</span>
        </span>
      </ion-button>

      <ion-button fill="clear" *ngIf="!mostrarBuscador" (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>