<ion-header translucent>
  <ion-toolbar color="light" class="header-completo">
    <ion-title>Imágenes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
 
 <!-- Imagen principal -->
<div class="campo campo-principal">
  <label class="etiqueta">Imagen principal *</label>

  <!-- Input oculto -->
  <input type="file" id="fileInputPrincipal" accept="image/*"
         (change)="seleccionarImagenPrincipal($event)" hidden />

  <!-- Recuadro que abre el input -->
  <label class="preview-placeholder" for="fileInputPrincipal" *ngIf="!imagenPrincipalMostrada">
    <ion-icon name="image-outline"></ion-icon>
  </label>

  <!-- Preview -->
  <div class="preview-container" *ngIf="imagenPrincipalMostrada">
    <img [src]="imagenPrincipalMostrada" class="preview-img" />
    <ion-icon name="close-circle" class="icono-borrar-principal"
              (click)="eliminarImagenPrincipal()"></ion-icon>
  </div>
</div>

<!-- Imágenes secundarias -->
<div class="campo">
  <label class="etiqueta">Imágenes secundarias (máx. 10)</label>

  <!-- Input oculto -->
  <input type="file" id="fileInputSecundario" accept="image/*" multiple
         (change)="seleccionarImagenesSecundarias($event)" hidden />

  <div class="imagenes-secundarias">
    <!-- Previews -->
    <div class="preview-wrapper" *ngFor="let img of imagenesSecundariasMostradas; let i = index">
      <img [src]="img" class="preview-img" />
      <ion-icon name="close-circle" class="icono-borrar"
                (click)="eliminarImagenSecundaria(i)"></ion-icon>
    </div>

    <!-- Recuadro “+” -->
    <label class="add-more-placeholder"
           *ngIf="imagenesSecundariasMostradas.length < 10"
           for="fileInputSecundario">
      <ion-icon name="add-outline"></ion-icon>
    </label>
  </div>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="botones-footer">
      <ion-button color="dark" expand="block" (click)="cancelar()">
        <ion-icon name="close-outline" slot="start"></ion-icon>
        Cancelar
      </ion-button>

      <ion-button color="danger" expand="block" (click)="confirmar()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar imágenes
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
