<section class="bloque-carrusel">

  <div class="contenedor_texto">
    <h2>Otros</h2>
    <div class="subrayado-rojo"></div>
  </div>

  <div class="carrusel-scroll-wrapper">
    <div class="carrusel-autos">
      <div class="card-auto" *ngFor="let auto of autos" (click)="onCardClick(auto, $event)">
        <img [src]="auto.imagenes[0]" alt="{{ auto.marca }} {{ auto.modelo }}" />
        <div class="info">
          <h3>{{ auto.marca }} {{ auto.modelo }} {{ auto.anio }}</h3>

          <p *ngIf="auto.version.length > 0">
            <span *ngIf="auto.vehiculo === 'auto' && auto.tipoVenta === 'nuevo'">
              Desde MX ${{ auto.version | priceMin | number:'1.0-0' }}
            </span>
            <span *ngIf="!(auto.vehiculo === 'auto' && auto.tipoVenta === 'nuevo')">
              MX ${{ auto.version[0]?.Precio | number:'1.0-0' }}
            </span>
          </p>

          <div class="detalles-auto">
            <div class="item-detalle" *ngIf="auto.kilometraje">
              <ion-icon name="speedometer-outline"></ion-icon>
              <span title="{{ auto.kilometraje }} km">{{ auto.kilometraje | number:'1.0-0' }} km</span>
            </div>
            <div class="item-detalle" *ngIf="auto.transmision">
              <ion-icon name="swap-horizontal-outline"></ion-icon>
              <span title="{{ auto.transmision }}">{{ auto.transmision }}</span>
            </div>
          </div>
        </div>
        <div [ngClass]="generalService.getClaseTipoBarra(auto.tipoVenta)"></div>
        <p [ngClass]="generalService.getClaseTipo(auto.tipoVenta)">
          {{ auto.tipoVenta }}
        </p>
      </div>
    </div>
  </div>
</section>


<!-- <section class="bloque-carrusel-minicartas">

  <div class="contenedor_texto_minicartas">
    <h2>Otros</h2>
    <div class="subrayado-rojo"></div>
  </div>
  <div class="carrusel-autos_minicartas">

    <div class="card-auto" *ngFor="let auto of autos" (click)="onCardClick(auto, $event)">
      <img [src]="auto.imagenes[0]" alt="{{ auto.marca }} {{ auto.modelo }}" />
      <div class="info">
        <h3>{{ auto.marca }} {{ auto.modelo }} {{ auto.anio }}</h3>

        <p *ngIf="auto.version.length > 0">
          <span *ngIf="auto.vehiculo === 'auto' && auto.tipoVenta === 'nuevo'">
            Desde MX ${{ auto.version | priceMin | number:'1.0-0' }}
          </span>
          <span *ngIf="!(auto.vehiculo === 'auto' && auto.tipoVenta === 'nuevo')">
            MX ${{ auto.version[0]?.Precio | number:'1.0-0' }}
          </span>
        </p>

        <div class="detalles-auto_minicartas">
          <div class="item-detalle" *ngIf="auto.kilometraje">
            <ion-icon name="speedometer-outline"></ion-icon>
            <span title="{{ auto.kilometraje }} km">{{ auto.kilometraje | number:'1.0-0' }} km</span>
          </div>
          <div class="item-detalle" *ngIf="auto.transmision">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            <span title="{{ auto.transmision }}">{{ auto.transmision }}</span>
          </div>
        </div>
      </div>
      <div [ngClass]="generalService.getClaseTipoBarra(auto.tipoVenta)"></div>
      <p [ngClass]="generalService.getClaseTipo(auto.tipoVenta)">
        {{ auto.tipoVenta }}
      </p>
    </div>
  </div>

</section> -->
