<div class="overlay">

  <img src="assets/icon/logo2.png" loading="lazy" alt="Go Autos" class="logo-registro" />
  <h1 class="titulo">Recuperación de Contraseña</h1>

  <form [formGroup]="registroForm" class="login-form" (ngSubmit)="EnvioRegistro()">
    <!-- <ion-span *ngIf="EstatusSeccion === 1"> -->

    <span class="instrucciones" *ngIf="EstatusSeccion === 1">
      Ingresa tu correo electrónico para recibir un código de verificación.
    </span>
    <br>
    <!-- Email -->
    <ion-item lines="none" class="input-wrapper" *ngIf="EstatusSeccion === 1">
      <ion-input formControlName="email" type="email" placeholder="Correo Electrónico" required></ion-input>
    </ion-item>

    <ion-note *ngIf="EstatusSeccion === 1 && registroForm.get('email')?.invalid && registroForm.get('email')?.touched">
      <ng-container *ngIf="registroForm.get('email')?.errors?.['required']">
        El correo es obligatorio.
      </ng-container>
      <ng-container *ngIf="registroForm.get('email')?.errors?.['email']">
        Correo no válido.
      </ng-container>
      <ng-container *ngIf="registroForm.get('email')?.errors?.['maxlength']">
        Máximo 30 caracteres.
      </ng-container>
    </ion-note>

    <button type="button" class="btn-login" [disabled]="registroForm.get('email')?.invalid" (click)="validarSeccion1()"
      *ngIf="EstatusSeccion === 1">
      Siguiente
    </button>

    <br *ngIf="EstatusSeccion === 1">
    <!-- </ion-span> -->


    <!-- <ion-span *ngIf="EstatusSeccion === 2"> -->
    <!-- NumeroConfirm -->
    <span class="instrucciones" *ngIf="EstatusSeccion === 2">
      Te hemos enviado un código de verificación a tu correo electrónico.
      Por favor, revísalo para continuar con el
      registro.
    </span>
    <br *ngIf="EstatusSeccion === 2">
    <ion-item *ngIf="EstatusSeccion === 2" lines="none" class="input-wrapper">
      <ion-input formControlName="numeroConfirm" type="number" inputmode="numeric" maxlength="6"
        placeholder="Código de verificación" required (ionInput)="transformarMayuscula('numeroConfirm')">
      </ion-input>
    </ion-item>
    <ion-note
      *ngIf="EstatusSeccion === 2 && registroForm.get('numeroConfirm')?.invalid && registroForm.get('numeroConfirm')?.touched">
      <ng-container *ngIf="registroForm.get('numeroConfirm')?.errors?.['required']">
        El código es obligatirio.
      </ng-container>
      <ng-container *ngIf="registroForm.get('numeroConfirm')?.errors?.['maxlength']">
        Máximo 6 número.
      </ng-container>
      <ng-container *ngIf="registroForm.get('numeroConfirm')?.errors?.['pattern']">
        Máximo 6 número.
      </ng-container>
    </ion-note>

    <div class="botones-acciones" *ngIf="EstatusSeccion === 2">
      <button type="button" class="btn-login-dos" (click)="regresarASeccion1()">
        ← regresar
      </button>

      <button type="button" class="btn-login-dos" [disabled]="registroForm.get('numeroConfirm')?.invalid"
        (click)="validarSeccion2()">
        siguiente →
      </button>
    </div>

    <!-- </ion-span> -->



    <!-- <span *ngIf="EstatusSeccion === 3"> -->
    <span class="instrucciones" *ngIf="EstatusSeccion === 3">
      Restablece tu contraseña. Asegúrate de que sea segura y fácil de recordar.
    </span>
    <br *ngIf="EstatusSeccion === 3">
    <!-- Contraseña -->
    <ion-item *ngIf="EstatusSeccion === 3" lines="none" class="input-wrapper">
      <ion-input formControlName="contrasena" [type]="verPassword ? 'text' : 'password'" placeholder="Contraseña"
        required>
      </ion-input>
    </ion-item>
    <ion-note
      *ngIf="EstatusSeccion === 3 && registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.invalid">
      <ng-container *ngIf="registroForm.get('contrasena')?.errors?.['minlength']">
        Mínimo 6 caracteres.
      </ng-container>
      <ng-container *ngIf="registroForm.get('contrasena')?.errors?.['mayuscula']">
        Debe contener al menos una letra mayúscula.
      </ng-container>
      <ng-container *ngIf="registroForm.get('contrasena')?.errors?.['numero']">
        Debe contener al menos un número.
      </ng-container>
      <ng-container *ngIf="registroForm.get('contrasena')?.errors?.['especial']">
        Debe contener al menos un carácter especial.
      </ng-container>
    </ion-note>

    <!-- Confirmar Contraseña -->
    <ion-item *ngIf="EstatusSeccion === 3" lines="none" class="input-wrapper">
      <ion-input formControlName="confirmarContrasena" [type]="verPassword ? 'text' : 'password'"
        placeholder="Confirmar contraseña" required>
      </ion-input>
    </ion-item>
    <ion-note
      *ngIf="EstatusSeccion === 3 && registroForm.get('confirmarContrasena')?.touched && registroForm.get('confirmarContrasena')?.invalid">
      <ng-container *ngIf="registroForm.get('confirmarContrasena')?.errors?.['required']">
        La confirmación de la contraseña es obligatoria.
      </ng-container>
      <ng-container *ngIf="registroForm.get('confirmarContrasena')?.errors?.['noCoincide']">
        Las contraseñas no coinciden.
      </ng-container>
    </ion-note>

    <!-- mostrar contraseñas  -->
    <ion-item *ngIf="EstatusSeccion === 3" class="checkbox-custom" lines="none">
      <ion-checkbox slot="start" (ionChange)="toggleVerPassword()" class="check-rojo"></ion-checkbox>
      <ion-label>Mostrar contraseñas</ion-label>
    </ion-item>

    <button *ngIf="EstatusSeccion === 3" type="submit" class="btn-login" [disabled]="registroForm.invalid">
      Cambiar contraseña
    </button>
    <br *ngIf="EstatusSeccion === 3">

    <!-- </span> -->

  </form>
</div>
