<app-navbar></app-navbar>

<ion-content [fullscreen]="true">

  <div class="goautos-bg">
    <div class="overlay" [class.loaded]="overlayLoaded" [ngStyle]="overlayLoaded ? {
      'background-image':
      'linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, #ffffff00 100%), url(' + imgenPrincipal + ')',
      'background-size': 'cover',
      'background-position': 'center center',
      'background-repeat': 'no-repeat'
    } : {}">

      <!-- <img src="/assets/icon/logo4.png" alt="Logo Go Autos" class="logo-goautos" loading="lazy" /> -->

      <div class="contenido-principal">
        <div class="bloque-contenido">

          <img src="/assets/icon/logo4.png" alt="Logo Go Autos" class="logo-goautos2" loading="lazy" />

          <h1 class="titulo typing">{{ textoAnimado }}</h1>

          <!-- <p class="descripcion">
            Consigue tu auto ideal, fácil y seguro, con un solo clic.
          </p> -->

          <div class="buscador-container">
            <ion-searchbar [(ngModel)]="terminoBusqueda" (ionInput)="onInputChange($event)"
              (keyup.enter)="irABusqueda(terminoBusqueda)" placeholder="Busca por marca, modelo o año" animated="true"
              class="buscador">
            </ion-searchbar>
          </div>

          <div class="tipos-vehiculos">
            <div class="lista-tipos">
              <div class="tipo-card" *ngFor="let tipo of TiposVeiculo" (click)="buscarPorTipo(tipo)">
                {{ tipo }}
              </div>
            </div>
          </div>

          <div class="top-marcas">
            <img src="https://storage.googleapis.com/wo-aw/uploads/marcas/nissan-1752250741191.png"
              (click)="irABusqueda('nissan')" alt="Nissan" loading="lazy" />
            <img src="https://storage.googleapis.com/wo-aw/uploads/marcas/chevrolet-1752250726132.png"
              (click)="irABusqueda('Chevrolet')" alt="Chevrolet" loading="lazy" />
            <img src="https://storage.googleapis.com/wo-aw/uploads/marcas/honda-1752250731294.png"
              (click)="irABusqueda('Honda')" alt="Honda" loading="lazy" />
            <img src="https://storage.googleapis.com/wo-aw/uploads/marcas/volkswagen-1752250719366.png"
              (click)="irABusqueda('Volkswagen')" alt="Volkswagen" loading="lazy" />
            <img src="https://storage.googleapis.com/wo-aw/uploads/marcas/kia-1752250740506.png"
              (click)="irABusqueda('Kia')" alt="Kia" loading="lazy" />
            <img src="https://storage.googleapis.com/wo-aw/uploads/marcas/hyundai-1752250721333.png"
              (click)="irABusqueda('Hyundai')" alt="Hyundai" loading="lazy" />
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
  <app-principal></app-principal>

  <section class="video-wrap">
    <video #videoEl class="video" [src]="videoSrc" autoplay muted loop playsinline preload="auto"
      poster="assets/img/poster.jpg">
    </video>

    <!-- Botón overlay -->
    <!-- <button class="mute-btn" (click)="toggleMute(videoEl)">
      {{ videoEl?.muted ? '🔇' : '🔊' }}
    </button> -->
  </section>



  <!-- <div class="banner-img">
    <img [src]="imgenArrendamiento" alt="Banner arrendamiento puro" loading="lazy" />
    <div class="arr-overlay">
      <h1>Arrendamiento puro <span class="brand">WOAW</span></h1>
      <p>Que mover tu negocio no sea un límite</p>

      <ul class="bullets">
        <li>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          Reduce carga fiscal
        </li>
        <li>
          Empresas, negocios, personas fisicas con actividad empresarial y/o personas morales
        </li>
        <li>
          <ion-icon name="timer-outline"></ion-icon>
          Plazos desde 12 hasta 48 meses
        </li>
      </ul>

      <a class="btn-cta" href="/arrendamiento">
        Conocer más
      </a>
    </div>
  </div> -->

  <br><br>

  <section class="tipos-vehiculos">
    <h2>Tipos de Vehículos</h2>
    <div class="lista-tipos">
      <div class="tipo-card" *ngFor="let tipo of TiposVeiculo" (click)="buscarPorTipo(tipo)">
        {{ tipo }}
      </div>
    </div>
  </section>

  <section class="seccion-app-mensaje">
    <div class="contenedor-app-mensaje">
      <h2 class="titulo-app">
        Woaw te ayuda a <br />
        comprar o vender tu auto <br />
        desde la <span>palma de tu mano</span><br />
        de forma segura
      </h2>
    </div>
  </section>

  <app-footer></app-footer>
</ion-content>