ion-list {
  padding: 0;
}

ion-item {
  --border-style: none;
  --inner-border-width: 0px;
  --padding-start: 12px;
  --padding-end: 12px;
  --min-height: 48px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 6px;
}

ion-item:hover {
  --background-color: #db272723 !important;
  transform: scale(1.01);
}

ion-item ion-label {
  margin: 0;
  font-weight: 500;
  color: #333;
}

.logo-marca {
  width: 20px;
  height: 20px;
  object-fit: contain;
  background: white;
  transition: transform 0.2s ease;
  margin-right: 2px;
}

ion-item:hover .logo-marca {
  transform: scale(1.05);
}


.contenedor-scroll-marcas {
  max-height: 50vh;
  overflow-y: auto;
  padding: 8px 0;
  scrollbar-width: thin;
}


.color-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 12px;
  border: 1px solid #ccc;
  display: inline-block;
}

.contenedor-scroll-marcas::-webkit-scrollbar {
  width: 6px;
}

.contenedor-scroll-marcas::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
