.fab-ajustada {
  bottom: 25px !important;
  right: 35px !important;


  @media (max-width: 1024px) and (min-width: 768px) {
    bottom: 65px !important;
    right: 25px !important;
  }

  @media (max-width: 767px) {
    bottom: 70px !important;
    right: 15px !important;
  }
}

