<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <app-menulateral></app-menulateral>

  <!-- Contacto  -->
  <!-- <ion-fab *ngIf="mostrarBtnAll" vertical="bottom" horizontal="end" slot="fixed" class="fab-ajustada">
    <ion-fab-button size="large" color="danger">
      <ion-icon name="logo-wechat"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success" (click)="RedesSociales('whatsapp')">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="RedesSociales('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="RedesSociales('instagram')">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark" (click)="RedesSociales('tiktok')">
        <ion-icon name="logo-tiktok"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  <!-- ----- -----  -->
   
  <app-tabs *ngIf="mostrarTabs"></app-tabs>
</ion-app>
