<ion-content color="dark" class="error-page" [fullscreen]="true">
  <div class="error-wrap">

    <!-- Logo -->
    <img class="logo" src="/assets/icon/logo4.png" alt="Woaw Logo" />

    <!-- Código -->
    <!-- <h1 class="code">404</h1> -->
    <h1 class="headline">Página no encontrada</h1>

    <!-- Imagen central -->
    <div class="car">
      <img class="car" src="/assets/autos/error2.png" alt="Auto en reparación" />
    </div>

    <!-- Botón -->
    <ion-button routerLink="/home" size="large" expand="block" color="danger" class="back-btn">
      IR a WOAW
    </ion-button>

  </div>
</ion-content>
