<div class="contenedor_otros">

  <div class="logos-wrapper">
    <button class="btn_back" (click)="atras()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>
    <a >
      <img src="/assets/icon/crabi2.png" alt="Logo Crabi" class="logo" />
    </a>
    <span class="slash"></span>
    <a >
      <img src="/assets/icon/logo4.png" alt="Logo Woaw" class="logo" />
    </a>
    <h2 *ngIf="tipoDispocitivo === 'telefono'" (click)="abrirModalPasos()">
      Pasos
      <ion-icon name="chevron-down-outline"></ion-icon>
    </h2>
  </div>

  <app-pasos *ngIf="tipoDispocitivo === 'computadora'  || tipoDispocitivo === 'tablet'"
    [refreshKey]="refreshKey"></app-pasos>

</div>