<ion-content [fullscreen]="true">
  <div class="home-bg">
    <div class="overlay">
      <img src="assets/icon/joli.webp" loading="lazy" alt="Go Autos" class="logo" />
      <h1 class="bienvenido">¡BIENVENIDO!</h1>
      <p class="mensaje">
        ¡La nueva forma de<br />
        <strong>comprar y vender un auto</strong><br />
        de forma segura!
      </p>
      <div class="barras-animadas">
        <span class="barra izquierda"></span>
        <span class="barra derecha"></span>
      </div>
    </div>
  </div>
</ion-content>
