<div class="contenedor_titulo">
  <div class="animate three">
    <span>N</span><span>u</span><span>e</span><span>s</span><span>t</span><span>r</span><span>o</span><span>s</span> &nbsp;
    <span>S</span><span>e</span><span>r</span><span>v</span><span>i</span><span>c</span><span>i</span><span>o</span><span>s</span>
  </div>
</div>


<section class="grid-categorias">
  <div class="gc__grid">

    <a class="gc__card gc--nuevo" href="/nuevos" style="--bg:url('/assets/autos/home1.png'); --i:2">
      <div class="gc__info">
        <h3>Nuevos</h3>
        <p>0 km</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--arrenda" href="/arrendamiento" style="--bg:url('/assets/autos/home8.png'); --i:2">
      <div class="gc__info">
        <h3>Arrendamiento</h3>
        <p>Estrena pagando menos</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--motos" href="/m-nuevos" style="--bg:url('/assets/autos/home5.png'); --i:3">
      <div class="gc__info">
        <h3>Motos</h3>
        <p>De ciudad y pista</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--seminuevo" href="/seminuevos" style="--bg:url('/assets/autos/home2.png'); --i:4">
      <div class="gc__info">
        <h3>Seminuevos</h3>
        <p>Garantía y historial</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--seguro" href="/seguros" style="--bg:url('/assets/autos/home7.png'); --i:5">
      <div class="gc__info">
        <h3>Seguros</h3>
        <p>Cotiza en segundos</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--usados" href="/usados" style="--bg:url('/assets/autos/home3.png'); --i:6">
      <div class="gc__info">
        <h3>Usados</h3>
        <p>Opciones para todos</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--camiones" href="/camiones/todos" style="--bg:url('/assets/autos/home4.png'); --i:7">
      <div class="gc__info">
        <h3>Camiones</h3>
        <p>Carga y flotillas</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>

    <a class="gc__card gc--renta" href="/renta-coches" style="--bg:url('/assets/autos/home6.png'); --i:8">
      <div class="gc__info">
        <h3>Renta</h3>
        <p>Por día o mes</p>
        <button class="btn_info"> ver más </button>
      </div>
    </a>
  </div>

  <!-- <div class="gc__hub">
    <button class="gc__qr" aria-label="Abrir QR">
      <span>QR</span>
    </button>
    <span class="gc__label">Disponible</span>
  </div> -->
</section>



<!-- Sección: YA DISPONIBLE EN PLAY STORE -->
<section class="anuncio-app" *ngIf="!isNative">
  <div class="contenido">
    <h2 class="titulo">¡Ya disponible! <br> <span>App Móvil</span></h2>
    <p class="descripcion">
      Ya puedes instalarla desde la
      <span class="resaltado">Play Store</span>.
    </p>

    <!-- Fila flexible: Play badge + QR -->
    <div class="row-cta">

      <div class="stores">
        <a href="https://play.google.com/store/apps/details?id=com.helscode.woaw" target="_blank" rel="noopener">
          <img src="/assets/autos/google play.png" alt="Play Store" />
        </a>
      </div>

      <div class="play">
        <img src="/assets/autos/QR.png" alt="QR Play Store" />
      </div>
    </div>


    <p class="msj_2">Prepárate para una experiencia única en compra, venta y gestión de vehículos.</p>
  </div>
</section>