<app-navbar></app-navbar>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="crescent"
      pullingText="Desliza para actualizar" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>


  <div class="ocntenedor_css_lotes">

    <div class="boton-container" *ngIf="!mostrarAuto">
      <div class="header-lotes-bar">

        <ion-searchbar *ngIf="!addLote" [(ngModel)]="terminoBusqueda" (ionInput)="filtrarLotes()"
          placeholder="Buscar lote..." debounce="300" class="buscador-lotes">
        </ion-searchbar>

        <!-- Título -->
        <h2 class="titulo-lotes">{{ totalLotes }} Resultados</h2>

      </div>
    </div>

    <!-- mostrar lotes ...  -->
    <section class="lotes-grid" *ngIf="!addLote && !mostrarAuto">
      <div class="lote-card" *ngFor="let lote of lotesFiltrados" (click)="mostrarAutos(lote)" tabindex="0" role="button"
        (keyup.enter)="mostrarAutos(lote)">
        <div class="lote-img">
          <img [src]="lote.imagenPrincipal" alt="Imagen del lote" />
        </div>

        <header class="lote-header">
          <h3 class="lote-title ellipsis-2">
            <img class="icon" src="assets/icons/building.svg" alt="" />
            {{ lote.nombre }}
          </h3>

          <p *ngIf="lote.direccion?.length" class="lote-subtitle">
            <img class="icon" src="assets/icons/location.svg" alt="" />
            <span class="ellipsis-2">
              {{ lote.direccion[0].ciudad }}, {{ lote.direccion[0].estado }}
            </span>
          </p>

          <p class="lote-subtitle">
            <img class="icon" src="assets/icons/car.svg" alt="" />
            <span class="ellipsis-2">
              Total: {{ lote.conteoCoches.total }} ·
              Disponibles: {{ lote.conteoCoches.disponibles }} ·
              Vendidos: {{ lote.conteoCoches.vendidos }}
            </span>
          </p>
        </header>
      </div>
    </section>



    <div class="no-lotes" *ngIf="!addLote && lotesFiltrados.length === 0">
      <ion-icon name="business-outline" class="no-icon"></ion-icon>
      <p>No hay lotes disponibles</p>
    </div>

    <!--  <ion-button *ngIf="mostrarAuto" fill="clear" size="large" class="back-button" (click)="BackLote()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button> -->

    <!-- <app-vehiculos [lote]="loteSelect" ></app-vehiculos> -->

  </div>

  <app-footer></app-footer>
</ion-content>